@model List<Class1>
@{
    ViewData["Title"] = "Index";
}
<style>
    .divPrincipal{
        height:100px;
        border-radius: 15px;
        background-color:forestgreen
    }

    .divSecundaria {
        margin-top:10px;
        height: 70px;
        border-radius: 15px;
        background-color:white;
    }
</style>
<div class="form-row form-group col-md-12">
    @foreach (var obj in Model)
    {
    <div class="form-row divPrincipal col-md-12">
        <div>@obj.id</div>
        @if (obj.humidity != null)
        {
            <div class="col-md-1 form-group divSecundaria"><label style="text-align:center">Umidade</label><label style="text-align:center;margin-top:10%;margin-left:40%">@obj.humidity.value</label> </div>

        }
        @if (obj.ground_humidity != null)
        {
            <div class="col-md-1 form-group divSecundaria">@obj.ground_humidity.value</div>

        }
        @if (obj.luminosity != null)
        {
            <div class="col-md-1 form-group divSecundaria">@obj.luminosity.value</div>

        }
        @if (obj.pressure != null)
        {
            <div class="col-md-1 form-group divSecundaria">@obj.pressure.value</div>

        }
        @if (obj.rain_mm != null)
        {
            <div class="col-md-1 form-group divSecundaria">@obj.rain_mm.value</div>

        }
        @if (obj.temperature != null)
        {
            <div class="col-md-1 form-group divSecundaria">@obj.temperature.value</div>

        }
        @if (obj.wind_speed != null)
        {
            <div class="col-md-1 form-group divSecundaria">@obj.wind_speed.value</div>

        }
    </div>
    }
</div>